body{
    background-color: #DADFDD;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px;

    .card{
        margin-top: 5%;
        margin-right: 10%;
        margin-left: 10%;
        padding: 5%;
        align-items: center;
        border-radius: 20px;
        img{
            border-radius: 15px;
        }
       a{
        background-color: rgb(6, 63, 6);
        border-color: rgb(6, 63, 6);
       }
       a:hover{
        background-color:rgb(75, 168, 75) ;
        border-color: rgb(6, 63, 6);
       }
    }
}
