/* Images Size*/

img{
    width: 250px;
    height: 250px;
}

body{

/* Image Size for logo*/
    .logo{
        width: 50px;
        height: 50px;
    }
/* Image Size for icons*/
    .icono-redes{
            width: 50px;
            height: 50px;

    }
/* Image Size for post*/
    img{
        width: 250px;
        height: 250px;
    }

}

