.local{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h3{
        font-weight: 400;
        font-size: 25   px;
    }
}
    .local-martinez{
    margin-top: 5%;  
  }

  .local-parana{
    margin-top: 5%;  
  }