/*Variables*/
$title-color: rgb(6, 63, 6);


h1{
    size: 25px;
    text-align: center;
    color: $title-color;
    font-family: "Geologica", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}
h2{
    size: 20px;
    color: $title-color;
    font-family: "Geologica", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}
h3{
    size: 15px;
    color: $title-color;
    font-family: "Geologica", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}